body {
  /*background-color: #F2E2D5;*/
  background-image: url('EggshellsBackground2.jpeg');

  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 20px;
  background-color:#FFB5CE;
  width: 70%;
  height: 70vh;
  align-items: stretch;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5EDD7; /* Replace with your color */
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 5px;
}

.chat-image {
  /*width: 50%;*/
  max-width: 100%;
  height: 100%;
  
  /*object-fit: cover;*/
  object-fit: contain;

}

.chat-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.chat-history {
  height: calc(100% - 50px);
  flex-grow: 1;
  height: 100%;
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 10px;
  background:  white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chat-history p {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  line-height: 1.4;
  max-width: 50%;
  align-self: flex-end;
}

.chat-history p:nth-child(even) {
  background: #FFEED8;
  color: #000 !important;
  align-self: flex-start;
}

.chat-history p:nth-child(odd) {
  background: #EAF6F5;
  color: #000;
}

.input-container {
  display: flex;
}

#chat-input {
  flex-grow: 1;
  height: 40px;
  padding: 0 10px;
  border: none;
  border-radius: 5px;
  
}

#send-button {
  width: 80px;
  height: 40px;
  background-color: #EB7000;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}

#send-button:hover {
  background-color: #FF5100;
}


/* ... Rest of your CSS ... */

@media (max-width: 950px) {
  .main-container {
    flex-direction: column;
    width: 90%;
    height: 80vh; /* Changed from auto to 90vh to ensure a fixed height */
    justify-content: space-between; /* Ensure there's space between the image and chat-container */
  }

  .image-container {
    height: 30%; /* Assign a fixed percentage height to the image container */
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #fcc0eb;
  }

  .chat-image {
    max-width: 100%;
    max-height: 100%; /* Adjust the max-width and max-height */
  }

  .chat-container {
    width: 100%;
    height: 70%; /* Assign the remaining height to chat-container */
    padding-left: 0;
    padding-top: 20px;
  }

  .chat-history {
    height: calc(100% - 60px); /* Adjust the calculation according to the height of your input container and any other elements or padding inside your chat-container */
  }
}

@media (min-width: 601px) and (max-width: 950px) {
  .main-container {
    width: 600px; /* Keep the width of the container constant */
  }
}


